@use "variables" as v;

.contenedor{
    width: 95%;
    max-width: 150rem;
    margin: 0 auto;
}
.noMargin{
    margin: 0;
}
.centrar {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.proyecto{
    background-color: v.$contenedores;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: -5px 5px 5px v.$negro;
    color: v.$blanco;
}
.titulo {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
}
.descripcion {
    margin: 0 2.5rem;
}
.fecha {
    text-align: right;
    margin: 1rem 3rem;
}
.footerCont {
    display: flex; 
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.nombre-alumno {
    align-content: center;
    margin: 0 1rem;
    font-size: 1.8rem;
    font-style: italic;
}

.boton-claro{
    background-color: v.$delineados;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    color: v.$negro;
    font-weight: 700;
    border-color: v.$fondo;
    border-style: solid;
    border-width: 1px;
    &:hover{
        transition: 500ms;
        color: v.$negro;
        background-color: v.$navegadores;
    }
}
.boton-obscuro{
    background-color: v.$delineados;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    color: v.$negro;
    font-weight: 700;
    border-color: v.$fondo;
    border-style: solid;
    border-width: 1px;
    &:hover{
        transition: 500ms;
        color: v.$negro;
        background-color: v.$navegadores;
    }
}