//declaracion de bootstrap

// fonts 

$titulos: "Quicksand", sans-serif;
$alertas: "Roboto Condensed", sans-serif;
$texto: "Raleway", sans-serif;

$font-family-titulos: "Quicksand", sans-serif;
$font-family-alertas: "Roboto Condensed", sans-serif;
$font-family-texto: "Raleway", sans-serif;

// colores

$fondo: #134686;
$contenedores: #134686;
$navegadores: #D8C4B6;
$delineados: #F5EFE7;
$amarilloHover: #FEB21A;
$amarillo: #f1be58;
$blanco: #fff;
$negro: #000;
$rojo: #e82f2f;
$verde: #537D5D;

// displays

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px; 