// fonts 

$titulos: "Quicksand", sans-serif;
$alertas: "Roboto Condensed", sans-serif;
$texto: "Raleway", sans-serif;

// colores

$fondo: #213555;
$contenedores: #3E5879;
$navegadores: #D8C4B6;
$delineados: #F5EFE7;
$blanco: #fff;
$negro: #000;
$rojo: #e82f2f;

// displays

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px; 