@use "../globales/variables" as v;

fieldset{
    border: 1px solid v.$contenedores;
    padding: 20px;
    border-radius: 4px;
    margin: 0 0 4rem 0;

    legend{
        box-sizing: border-box;
        color: v.$fondo;
        padding: 0 1rem;
        float: none ;
        width: auto;
        margin: 0;
    }
    .formulario-nuevo-libro{
        
        margin: 0;
        display: block;
        gap: 2rem;
        border-radius: 20px;
    }
    
}
.campo{
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    label{
        font-weight: 700;
        font-size: 2rem;
        span{
            color: v.$rojo;
        }
    }
    input{
        padding: .7rem;
        border-radius: 10px;
        border: 1px solid v.$contenedores;
    }
    .textarea{
        height: 15rem;
        border-radius: 10px;
    }
    .pp_inputs{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        font-size: 2rem;
        input{
            width: 10rem;
            margin: 0 2rem;
        }
    }
    select{
        padding: 1.5rem 0;
        width: 30rem;
        padding-left: .5rem;
        background-color: v.$blanco;
        border-radius: 10px;
    }
}
.boton-nuevo_libro{
    width: 100%;
    height: auto;
    margin: 0 ;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(min-width: v.$tablet){
    .formulario-nuevo-libro{
        grid-template-columns: repeat(2, 1fr);
    }
    .boton-nuevo_libro{
        width: 15rem;
        height: 5rem;
        justify-self:right;
        align-self:flex-end;
    }
}
