@use "../globales/variables" as v;

.principal{
    margin-top: 18rem;
}
@media(min-width: 850px){
    .principal{
        margin-top: 14rem;
    }
}


/* navegador */
.navegador{
    background-color: v.$fondo;
    padding: 1rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-contenedor{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .3s ease-in-out,opacity .5s linear,height 1s linear;
}
.enlaces a{
    margin: 0 1rem;
    color: v.$blanco;
    margin: 1rem 1rem;
    font-size: 2rem;
    
}

@media(min-width: 850px){
    .nav-contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    .enlaces{
        flex-direction: row;
        height: auto;
        opacity: 1;
        visibility: visible;
    }
  
}
.mobile-menu{
    display: block;
    
}
.mobile-menu img{
    width: 5rem;
}

@media (min-width: 850px) {
    .mobile-menu{
        display: none;
    }

}
.mostrar{
    height: auto;
    opacity: 1;
    visibility: visible;
}