
/* mostrar proyectos */
.principal{
    background-color: var(--blanco);
    margin-top: 15rem;
}


@media(min-width: 850px){
    .principal{
        margin-top: 14rem;
    }
}

@media(min-width: 970px){
    .principal{
        margin-top: 12rem;
    }
}
/* proyecto arrba */

.header-proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    align-items: center;
}
.header-proyectos h2{
    font-weight: 700;
    font-family: var(--titulos);
    text-align: left;

    }
.busqueda input{
    border-radius: 10px;
    padding: .8rem;
    margin: 0;
}
.busqueda{
    align-items: center;
    align-content: center;
}
.busqueda a{
    padding:1rem;
}

/* Proyectos */
.proyecto{
    background-color: var(--contenedores);
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: -5px 5px 5px var(--negro);
}
.proyecto p{
    color: var(--blanco);
}
.titulo-proyecto{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
}
.descripcion-proyecto{
    margin: 0 2.5rem;
}
.fecha-proyecto{
    text-align: right;
    margin: 1rem 3rem;
}
.footer-proyecto{
    display: flex; 
    flex-flow: row;
    align-content: center;
    justify-content: space-between;
}   
.nombre-alumno{
    align-content: center;
    margin: 0 1rem;
    font-size: 1.8rem;
    font-style: italic;
}